
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'transporter.css' %}">
        

    </head>

<link rel="stylesheet" href="EmptyCSSFile.css">
<meta charset="utf-8" />

<body>
<div class="container">
    <div class="login">
        <button type="login" id="login" class="login">
          Login or Signup
        </button>
      </div>
    <header class="header">
      <h1 id="title" class="text-center"><b><i><centre>Welcome to Transporter</centre></i></b></h1>
      <p id="description" class="description text-center"> </p>

          <div class= "tag">
       <centre><b><i>Fall in love with travelling!</i></b></centre> 
      </p>
      
      
      </div>
      
    </div>
    </header>

    

           

        </div>
    </footer>
    </html>
        
    </body>

    <footer>
        
        </footer>

      
        
    
</html>